extends ../shared/template
block content
  h2 About Page!
  .row
    .col-lg-4
      h2 Bacon burger dogs
      p Bacon ipsum dolor sit amet pork ribeye venison andouille, chuck ham hamburger pork belly boudin swine prosciutto bresaola pork chop tenderloin pork loin. Porchetta leberkas tenderloin tail tongue pancetta. Prosciutto venison spare ribs ham hock chuck swine ribeye, brisket andouille tongue jowl pig beef ribs. Turducken frankfurter meatball filet mignon. Prosciutto tongue shank, pork chop bresaola meatball pork belly pancetta spare ribs. Filet mignon ham hock meatloaf tongue doner.
    .col-lg-4
      h2 Bologna
      p Meatloaf salami shankle kielbasa porchetta sirloin t-bone ball tip brisket doner tongue drumstick rump sausage. Shankle pork shoulder biltong sausage tenderloin swine cow. Leberkas ball tip frankfurter kielbasa tenderloin bresaola fatback pancetta tail ground round meatloaf hamburger. Pancetta pig strip steak ball tip pork loin pastrami beef ribs prosciutto shoulder tail. Spare ribs shoulder frankfurter pork tongue pork belly prosciutto ground round bacon meatloaf drumstick short loin. Beef ribs bacon boudin doner prosciutto sirloin brisket salami capicola. Pork pastrami kielbasa turducken, flank shoulder pork chop brisket filet mignon turkey bresaola frankfurter beef meatball.
    .col-lg-4
      h2 Cold cuts
      p Landjaeger shoulder doner pork chop boudin rump sirloin. Strip steak tri-tip landjaeger pork chop meatball salami sausage swine shoulder. Jerky fatback tenderloin, meatloaf frankfurter short loin meatball sirloin pork loin strip steak swine ham hock. Frankfurter tenderloin jowl, pork pork belly pork loin pancetta shankle leberkas. Pig ground round rump ball tip, pancetta ham shankle pork belly drumstick kevin capicola. Bresaola pork loin beef sausage filet mignon short loin prosciutto ribeye turkey pork belly kielbasa porchetta hamburger meatball. Bacon kevin flank sausage ball tip filet mignon pork belly jerky ham kielbasa shank pancetta ribeye.
block scripts
  script(src='/js/user/home.js')

