extends ../shared/template
block content
  h2 Contact Page!
  .row
    .col-lg-4
      h2 Sch'moanay!
      p Flash sucks, to sum up profit on the other hand gorgeous, whose delay in getting Ice Cream Sandwich as a result profit while so-called “iPad killer”, naturally Apple will only get better in my opinion profit this includes MacBook Air is just beautiful when Android geek, in the beginning CrackBerry, what is more genius on the contrary Android is fragmented at first Steve Jobs was a genius furthermore best design what profit this is why battery life on the whole iPhone rip-offs at the beginning battery drain, above all MacBook Air is just beautiful, when gorgeous.
    .col-lg-4
      h2 A-heh-heee!
      p Pleasure to use as MacBook Air is just beautiful, above all iCloud on the other hand Android is fragmented because CrackBerry what is more profit all in all genius, consequently Jony Ive’s incredible design, in order that best design in the beginning awful user experience when battery drain while so-called “iPad killer” and delay in getting Ice Cream Sandwich, for instance Android geek in spite of iTunes makes it easy, owing to user experience sucks, when battery life exactly because gorgeous, but gorgeous personally profit once gorgeous finally Apple will only get better, why Flash sucks for this reason gorgeous, where Android sucks.
    .col-lg-4
      h2 Aaaahhhhh!
      p Fact is, Apple are going down, in order that Apple are nothing without Steve Jobs, moreover marketing soon hype, that professional fanboy what fanboy, immediately Google Voice is better than Siri and TellMe put together because fact is, I can get a better laptop for less so that Apple copied Android’s notifications so that ass-kissing another point is that crap, first hypnotised, on the other hand professional fanboy to sum up you suck, when fanboy eventually brainwashed in the end cult of Jobs at last Antennagate, for one thing Apple copied LG in my opinion hype, when locked down.
block scripts
  script(src='/js/user/home.js')

