extends ../shared/template
block content
  h2 FAQ Page!
  .row
    .col-lg-4
      h2 Sea-punk
      p IPhone raw denim butcher roof party, Echo Park selvage mixtape fashion axe plaid food truck wayfarers vinyl Blue Bottle Carles trust fund. Artisan plaid VHS, cardigan single-origin coffee lo-fi Schlitz McSweeney's kitsch tofu drinking vinegar Kickstarter Shoreditch wayfarers. Lo-fi VHS hoodie viral fixie, plaid Thundercats normcore. Ethnic YOLO irony hoodie swag distillery cray skateboard iPhone, polaroid Marfa meh 8-bit beard scenester. Shoreditch ethnic street art, pug raw denim cornhole four loko Bushwick. Fanny pack master cleanse Pitchfork leggings. Williamsburg lo-fi retro sriracha, XOXO meh single-origin coffee fap messenger bag.
    .col-lg-4
      h2 Vapor-wave
      p Chia post-ironic readymade squid four loko. Mustache quinoa Schlitz selfies beard. Butcher Tonx slow-carb, synth American Apparel banjo Bushwick keffiyeh seitan you probably haven't heard of them Shoreditch Truffaut chambray. Austin pickled organic irony drinking vinegar kale chips, sartorial twee messenger bag you probably haven't heard of them jean shorts. Tumblr tousled cornhole 90's aesthetic fanny pack. Before they sold out kogi typewriter street art pork belly banjo, Pinterest Neutra vegan mlkshk VHS squid. Brooklyn American Apparel scenester dreamcatcher actually pop-up before they sold out.
    .col-lg-4
      h2 Witch-house
      p Chambray vegan stumptown, High Life 8-bit small batch pug Schlitz narwhal slow-carb banh mi artisan organic trust fund. Hella wayfarers gentrify, before they sold out pickled occupy Truffaut flannel Banksy. Tumblr viral hashtag single-origin coffee keytar, craft beer selfies Pinterest umami actually fashion axe Williamsburg keffiyeh Vice distillery. Ethnic next level photo booth, chia kitsch freegan Tumblr gentrify viral try-hard Pitchfork keffiyeh Wes Anderson. Retro tote bag street art shabby chic, iPhone normcore vegan swag Tonx gluten-free Marfa selvage Odd Future. Thundercats tote bag ethical, Neutra kitsch Williamsburg Carles brunch Kickstarter Etsy pickled. Tattooed banjo Tonx, VHS brunch letterpress gluten-free stumptown lomo viral small batch tousled beard ennui Echo Park.
block scripts
  script(src='/js/user/home.js')

